<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title> 익명게시판 </title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src ="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="/js/Jsbox.js"></script>
</head>
<body>


<table id="articlesTable" class="table table-bordered">
 <thead>
  <tr>
       <th>조회수</th>
       <th>글 번호</th>
       <th>글 제목</th>
       <th>작성 날짜</th>
  </tr>
 </thead>
 <tbody>
    <tr th:each="data : ${articlesData}">
       <td th:text="${data.artHits}"></td>
       <td th:text="${data.artId}"></td>
       <td th:text="${data.artHead}"></td>
       <td th:text="${data.artDate}"></td>
    </tr>
 </tbody>
</table>
<button type="submit" onclick="insertArtBtn()">글작성</button>
</body>
</html>