<!DOCTYPE html>
<html lang="ko">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="/js/Jsbox.js"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
잘 되나요?
이 곳에서 글을 작성해주세요.
<p></p>
<span>비밀번호 : </span><input type="password" id="createPw"><br>
<span>글 제목 : </span><input type="text" id="createHead" ><br>
<span>글 내용 : </span><input type="text" id="createBody" >
<button type="button" onclick="insertArtAjax()"> 등록 </button>
</body>
</html>