<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" >
    <title> 익명게시판 </title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src ="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="/js/Jsbox.js"></script>

</head>
<body>
<table id="articlesTable">
 <thead>
  <tr>
       <th>조회수</th>
       <th>글 번호</th>
       <th>글 제목</th>
       <th>작성 날짜</th>
  </tr>
 </thead>
 <tbody>
    <tr th:each="data : ${articlesData}">
       <td th:text="${data.artHits}"></td>
       <td><span th:text="${data.artId}" style="background: none; border:none;"></span></td>
        <td><button th:text="${data.artHead}" class="artHead" th:value="${data.artId}" style="background: none; border:none;"></button></td>
       <td th:text="${data.artDate}"></td>
    </tr>
 </tbody>
</table>
<hr>

    <button type="submit" onclick="insertArtBtn()">글작성</button>


<p></p>
<hr>
<!--글 조회 시 표현될 공간입니다.-->
<div id="firstDiv">
</div>
<div id="SecondDiv">
</div>
</body>
</html>